<div class="text-layout">
    <h3>Decimal Pipe y Porcentaje</h3>
    <p>Pipes incluidos en Angular - Usualmente en el comon Module </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ventas Netas"
                subheader="del anno" >
                <i class="pi pi-dollar"></i>
          {{ventasNetas|number:'1.2-2'}}
        </p-card>
        
    </div>
    <div class="p-col-4">
        <p-card header="Ventas Brutas"
                subheader="del anno" >
                <i class="pi pi-dollar"></i>
          {{ventasNetas + 2000000 | currency: 'EUR' : 'symbol-narrow'}}
        </p-card>
        
    </div>

    <div class="p-col-4">
        <p-card header="Ganancia Porcentual"
                subheader="del anno" >
                <i class="pi pi-dollar"></i>
                {{porcentaje|percent:'2.2-2'}}
        </p-card>
        
    </div>
</div>