<div class="text-layout">
    <h3>Pipes no tan Comunes</h3>
    <p>Pipes incluidos en Angular - Usualmente en el comon Module </p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6 p-sm-9">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
   <p>     Saludos {{nombre}}, es un placer 
    {{genero|i18nSelect:invitacionMapa}}
     a nuestro evento.
     </p>
     <button pButton (click)="cambiarPersona()" type="button" label="Cambiar Persona" class="p-button-outlined"></button>

        </p-fieldset>
    </div>
    <div class="p-col p-md-6 p-sm-9">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
           <p> Actualmente {{clientes.length|i18nPlural:clientesMapa}}</p>
     <button pButton type="button" (click)="eliminarCliente()" label="Eliminar Cliente" class="p-button-outlined p-button-help "></button>

        </p-fieldset>
    </div>

    <div class="p-col p-md-6 p-sm-9">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
    <b>Original</b>
    <pre>{{clientes}}</pre>

    <b>slice:0:2</b>
    <pre>{{clientes|slice:0:2}}</pre>
        </p-fieldset>
    </div>
</div>